@import "tailwindcss";
@plugin 'tailwindcss-animate';

:root {
  --primary-color: #43a3d2;
  --primary-color-foreground: #e2f5ff;
  --secondary-color: #f18b53;
  --secondary-color-foreground: #ffffff;
  --accent-color: #828c65;
  --accent-color-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #226a8d;
    --primary-color-foreground: #aad5eb;
    --secondary-color: #f18b53;
    --secondary-color-foreground: #fdeae0;
    --accent-color: #828c65;
    --accent-color-foreground: #e1e4d9;
  }
}

@theme inline {
  --font-display: var(--font-quicksand), system-ui;
  --font-sans: var(--font-quicksand), system-ui;
  --font-mono: var(--font-sono), ui-monospace;

  --radius: 0.6rem;

  --color-primary: var(--primary-color);
  --color-primary-foreground: var(--primary-color-foreground);
  --color-secondary: var(--secondary-color);
  --color-secondary-foreground: var(--secondary-color-foreground);
  --color-accent: var(--accent-color);
  --color-accent-foreground: var(--accent-color-foreground);

  --color-primary-50: #aad5eb;
  --color-primary-100: #95cbe6;
  --color-primary-200: #6cb7dc;
  --color-primary-300: #43a3d2;
  --color-primary-400: #2c89b6;
  --color-primary-500: #226a8d;
  --color-primary-600: #184b64;
  --color-primary-700: #0e2c3b;
  --color-primary-800: #040d12;
  --color-primary-900: #000000;
  --color-primary-950: #000000;
  --color-secondary-50: #ffffff;
  --color-secondary-100: #ffffff;
  --color-secondary-200: #fdeae0;
  --color-secondary-300: #f9cbb1;
  --color-secondary-400: #f5ab82;
  --color-secondary-500: #f18b53;
  --color-secondary-600: #ed6b24;
  --color-secondary-700: #cd5411;
  --color-secondary-800: #9e400d;
  --color-secondary-900: #6f2d09;
  --color-secondary-950: #572407;
  --color-accent-50: #edeee8;
  --color-accent-100: #e1e4d9;
  --color-accent-200: #cacebc;
  --color-accent-300: #b2b99e;
  --color-accent-400: #9ba480;
  --color-accent-500: #828c65;
  --color-accent-600: #666e50;
  --color-accent-700: #4b513a;
  --color-accent-800: #2f3325;
  --color-accent-900: #141510;
  --color-accent-950: #060705;
}

@layer components {
  body {
    @apply antialiased;
    @apply bg-secondary-300;
    @apply text-secondary-950;
    @apply dark:bg-primary-700;
    @apply dark:text-white;
  }

  h1 {
    @apply text-3xl;
    @apply font-bold;
  }
}

@keyframes fade-in-slide {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fade-out-slide {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

.appear-in-animation {
  animation-name: fade-in-slide;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

main {
  view-transition-name: portfolio-main;
  transition-property: opacity, transform, filter, blur;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

::view-transition-group(root) {
  animation: none;
}

::view-transition-old(portfolio-main) {
  animation-name: fade-out-slide;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}
::view-transition-new(portfolio-main) {
  animation-name: fade-in-slide;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
}

.page-transition {
  opacity: 0;
  transform: translateY(2.5rem);
  filter: blur(0.25rem);
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.125rem;
  display: inline-flex;
  align-items: center;
  line-height: 1.25rem;
  padding: 0.625rem;

  svg {
    transition: 200ms ease;
  }

  &:hover svg {
    transform: rotate(20deg);
  }
}
